.Login_div {
  display: flex;
  justify-content: space-around;
}
.Image_login {
  margin-top: 100px;
}
.inputField_div {
  width: 250px;
  border: none !important;
  text-align: center;
}

.Image_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2874f0;
  height: 25vh;
  color: #ffffff;
}
.textItem {
  text-align: center;
}
div.inputField_div .loginField {
  position: relative;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0 !important;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  box-shadow: none !important;
  
}
.p-password input {
  width: 15rem;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}
.loginField1:enabled:focus {
  outline: 0 none;
}
.password_input {
  display: flex;
  justify-content: flex-start;
}
div .font_set {
  font-size: 12px;
}
.p-button:enabled:focus{
background-color: none !important;
} 
.userLogin {
  width: 100%;
  border: none;
  text-align: center !important;
  background-color: #fb641b !important;
}
.createUser{
  font-size: 15px;
  text-decoration: none;


}
