.mr-2{
    color:black;
    text-align: center;
}
.IncrementButton{
    margin-left:5px;
    border-radius:34%;
    padding: 7px;
}
.DecrementButton{
    margin-right:5px;
    border-radius:34%;
    padding: 8px;
}
.DecrementButton:hover{
    background-color:#2874f0;
    color:white;
}
.IncrementButton:hover{
    background-color:#2874f0;
    color:white;
}
.removeData{
    margin-left: 40px;
    background-color:#2874f0;
    color:white;
}
.removeData:hover{
    background-color:red;
    }
.checklist{
        margin-top: 100px !important;
        background-color: #2874f0;
        border-radius: 50px;
        font-size: 20px;
       margin-left: 80px;
    }
  