/* moredropdown list */
.dropdownItem {
  position: absolute;
  margin-top: 16px;
  margin-left: 30px;
  background-color: white;
  cursor: pointer;
  display: none;
}
.dropdownItem > li {
  list-style: none;
  margin-left: -93px;
  padding: 10px 0;
  width: 187px;
  background-color: #ffffff;
}

.dropdownItem:before {
  content: "";
  margin-top: -12px;
  margin-left: -74px;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  transform: rotate(44deg);
  
}
.more {
  color: white;
  margin-top: 4px;
}


.more_list:hover .dropdownItem {
  display: block;
  z-index: 999;
  transition-duration: 15s;
  transition-delay: 20s;
  

}
.seller {
  text-decoration: none;
  color: black;
}
