  
 .form-demo{
    background-color:  #2874f0;
    height:100vh;
} 
.form-demo .card {
    margin-top: 20px;
    min-width: 450px;

}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.form-demo .existing-seller{
   
    margin-top: 50px !important;
    text-decoration: none;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}
