input[type="text"],
input[type="number"],
input[type="file"] textarea {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-details {
  overflow: hidden;
}
label {
  display: flex;
  margin-bottom: 5px;
}
.product-name {
  color: red;
}
.form-control {
  margin-bottom: 20px;
}

.submit-button {
  margin-left: 50px;
  width: 20%;
  font-size: 20px;
  background-color: blue;
  color: white;
  border-radius: 6px;
}
