.InputText {
  width: 30%;
  height: 30px;
  margin: 15px !important;
  padding-bottom: 5px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2874f0;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header .InputText {
  border-radius: none !important;
}
.header .p-button {
  color: #2874f0;
  background-color: white;
  margin-right: 40px;
}

.p-button:enabled {
  border: none;
}

.logo {
  height: 25px;
  margin: 10px;
}

.button_margin {
  margin-left: -160px;
}
.header .p-button {
  position: relative;
  display: inline-block;
}

.Explore {
  margin-left: -2px;
  margin-top: -12px;
  font-size: 12px;
}
