.InputText {
  width:30%;
  height: 30px;
  margin: 15px !important;
  padding-bottom: 5px;
  }
 .header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #2874f0;
  height: 60px;
}
.header .p-button{
 color:#2874f0;
 background-color:white;
 margin: 5px 221px 0 6px;

}
.inputField_div{
  width:250px;
}
.inputField_div .loginField{
   border: none;
}
.logo{
  height:30px;
  width:auto;
  margin:20px;
padding-top: 10px;
}
.Login_div{
  display: flex;
  justify-content: space-around;
}
.Image_div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2874f0;
  height: 25vh;
  color:#ffffff;
}
.header .header_Button .userLogin{
  background-color: #fb641b;
  width:100%;
 }
.textItem{
  text-align: center;
  
}
.dropdown_content{
  top:100px;
  padding-top: 245px;
  width: 200px;
  display: block;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 5;
  backface-visibility: none;

}

.header .p-button {
position: relative;
display:inline-block;
/* top:50px; */
}

.header .parent_LoginDiv.p-button:hover .dropdown_content{
  display:block;
}
.p-password input {
  width: 15rem;
}