.dropdown_content{

    margin-left:12px;
}
.dialog-demo .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

.dialog-demo p {
    margin: 0;
    line-height: 1.5;
}

.dialog-demo .p-dialog .p-button {
    min-width: 6rem;
}

.Box_Div{
    text-align: center;
}

.new_cutomer{
    display: flex;
    justify-content: space-around;
}
.myprofile{
    display: flex;
    justify-content: space-around;
}
.myprofile_content{
    margin-left: 10px;
}
.myprofile_content>i{
    color: #2874F0;
}
.Flipcartplus{
    color: #2874F0;
    padding-left:30px;
}