.dropdown_content{

    margin-left:-10px;
}
.dropdown_content:before{
    content: "";
    margin-top: -8px;
    margin-left: -20px;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    transform: rotate(44deg);
   }
   
.dialog-demo .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

.dialog-demo p {
    margin: 0;
    line-height: 1.5;
}

.dialog-demo .p-dialog .p-button {
    min-width: 6rem;
}

.dialogBox{
    display: flex;
    justify-content:center
}

.new_cutomer{
    margin-top:20px;
    display: flex;
    justify-content: space-around;
}
.myprofile{
    display: flex;
    justify-content: space-around;
}
.myprofile_content{
    margin-left: 10px;
}
.myprofile_content>i{
    color: #2874F0;
}
.Flipcartplus{
    color: #2874F0;
    padding-left:30px;
}