.Navbar_images {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ffffff;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #ffffff;
    -webkit-box-shadow: 10px 20px 23px -8px rgba(245, 237, 237, 0.75);
    -moz-box-shadow: 10px 20px 23px -8px rgba(231, 220, 220, 0.75);
    box-shadow: 10px 20px 23px -8px rgba(211, 204, 204, 0.75);
    text-decoration: none;
    padding-top: 75px;
    
 }
 .child_div{
     display: flex;
     flex-direction:column;
 }
 .ItemsImg{
     border-radius: 50%;
     width: 75px;
}
 .spanitem{
     font-size: 15px;
     font-weight: 100;
 }
 
